# .NET Core
.vs/
.vscode/
.idea/

# ビルド成果物
[Dd]ebug/
[Dd]ebugPublic/
[Dd]ist/
[Dd]istPublic/
[Bb]in/
[Oo]bj/

# ユーザー設定ファイル
*.user
*.userosscache
*.suo
*.userprefs

# ASP.NET Core
project.lock.json
project.fragment.lock.json
*.tmp

# Mac特有のファイル
.DS_Store
